.toggle-headerbar-btn {
  color: #333;
  border-right: 1px solid #eee;
  background: #fff;
  float: left;
  padding: 15px 15px;
}

.toggle-sidebar-btn {
  color: #333;
  border-right: 1px solid #eee;
  background: #fff;
  float: left;
  padding: 15px 15px;
}

.articles-meta {
  position: fixed;
  background-color: #ffffff;
  width: 90%;
  top: 50px;
  z-index: 1;
  padding-bottom: 5px;
  display: none;
}