
html,
body {
  height: 100%;
}

.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 0 -60px;
  padding: 0 0 60px;;

  > .container {
    padding: 20px 15px 20px;
  }
}

.editormd {
  margin: inherit;
}

header.main-header {
  z-index: 3000;
}

aside.main-sidebar {
  z-index: 0;
}

nav.navbar-static-top {
  z-index: 0;
}
//
//.sidebar-form.input-group {
//  z-index: 0;
//}

h1 {
  font-size: 30px;
  margin-top: 5px;
  margin-bottom: 5px;
}

span.select2-selection__rendered {
  margin-top: 0 !important;
}

.tags-container {
  margin-right: 10px;
}

.article-view {
  .article-view__header {
    font-size: 22px;
  }
  .article-view__description {
    font-size: 16px;
  }
  .article-view__views-count {
    font-size: 12px;
  }
}

.control-sidebar-bg, .control-sidebar {
  width: 300px;
  right: -300px;
}

.modal {
  z-index: 3000;
}

.content-wrapper {
  background-color: #ffffff;
}

.btn {
  border-radius: 0;
}

.article-edit-content {
  margin-top: 20px;
}

.type-icon {
  //font-size: 17px;
  color: #222d32;
  width: 20px;
  text-align: center;
}


.article-type-title{
  font-size: 15px;
}

